<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.granite.obee</string>
        <key>ProgramArguments</key>
        <array>
            <string><UV_BIN></string>
            <string>run</string>
            <string><OPEN_WEBUI_SCRIPT></string>
        </array>
        <key>KeepAlive</key>
            <true/>
        <key>StandardErrorPath</key>
        <string>/tmp/obee.webui.err</string>
        <key>StandardOutPath</key>
        <string>/tmp/obee.webui.out</string>
    </dict>
    </plist>
